---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="DEV Inertia">
	<main>
		<h1>👋 Welcome, Coders!</h1>
		<p>
			Thank you for visiting our blog platform, where coding meets creativity. This space is dedicated to
			sharing insights, tutorials, and thoughts on everything related to web development and programming.
		</p>
		<p>
			Our platform is built using <a href="https://astro.build/">Astro</a>, a modern static site builder 
			that allows for fast and efficient website creation. Feel free to explore and take advantage of the 
			resources we provide.
		</p>
		<p>Here are some ways to get started on your journey with us:</p>
		<ul>
			<li>Check out the latest posts on our <code>blog</code> page.</li>
			<li>Learn about our authors in the <code>About Us</code> section.</li>
		</ul>
		<p>
			We hope you find our content both educational and inspiring. If you have any questions or need support, 
			don't hesitate to <a href="https://docs.astro.build/">consult the documentation</a> or 
			<a href="https://astro.build/chat">join our Discord community</a>.
		</p>
		<p>
			Looking for more coding inspiration? Check out other awesome blogs and projects by talented developers 
			across the globe!
		</p>
	</main>

</MainLayout>
