---
import { Icon } from "astro-icon/components";
import SearchComponent from "astro-pagefind/components/Search";
---

<style>
    #search-container {
        position: absolute;
        width: 570px;
        left: 50%;
        transform: translate(-50%);
        top: 14px;
    }

    @media (max-width: 880px) {
        #search-container {
            top: 90px;
            width: calc(100% - 20px);
        }
    }
</style>

<div class="text-[26px] sm:text-[36px] min-w-[40px] sm:border-r sm:dark:border-r-slate-800 sm:mr-1.5">
    <Icon id="search-icon" name="mdi:search" class="sm:pr-2.5 cursor-pointer" />
    <Icon id="search-icon-close" name="mdi:window-close" class="sm:text-[32px] sm:pr-2.5 hidden cursor-pointer" />
</div>

<div class="hidden" id="search-container">
    <SearchComponent id="search" className="pagefind-ui" />
</div>

<script is:inline>
    document.addEventListener('astro:page-load',  () => {
        const searchIcon = document.getElementById("search-icon");
        const searchIconClose = document.getElementById("search-icon-close");
        const searchBar = document.getElementById("search-container");

        const toggleSearchItems = () => {
            searchIcon.classList.toggle("hidden");
            searchBar.classList.toggle("hidden")
            searchIconClose.classList.toggle("hidden")
        }

        searchIcon.addEventListener("click", () => {
            toggleSearchItems();
        });

        searchIconClose.addEventListener("click", () => {
            toggleSearchItems();
        });
    })
</script>