---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
import ScrollToTop from "../components/ScrollToTop.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<!-- content here -->
		<slot />
		<ScrollToTop />
		<Footer />
	</body>
</html>